---
import "./globals.css";
import gsap from "gsap";
import Hero from "@/components/Hero.astro"
import Navbar from "@/components/Navbar.astro"
import Footer from "@/components/Footer"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bi0s Recruitment</title>
</head>
<body>
    <section class="w-full bg-[#1f2021] font-krypton text-[#7AFFC7] overflow-hidden ">
        <Navbar />
        <Hero />
        <Footer />
    </section>
</body>
</html>


