---
import "@/styles/props.css"
import "@/styles/styles.css"
// import gsap from "gsap";
import Hero from "@/components/Hero.astro"
import Navbar from "@/components/Navbar.astro"
import Footer from "@/components/Footer.astro"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bi0s Recruitment</title>
    <style>
        @font-face {
            font-family: "Technos";
            src: url("/fonts/Technos.otf");
        }

        body {
            background-color: var(--sl-color-black);
        }

        *{
            scrollbar-width: thin;
            scrollbar-color: var(--sl-color-accent) var(--sl-color-black);
        }
        *::-webkit-scrollbar {
            width: 17px;
        }
        
        *::-webkit-scrollbar-track {
            background: var(--sl-color-accent);
            border-radius: 5px;
        }
        
        *::-webkit-scrollbar-thumb {
            background-color: var(--sl-color-black);
            border-radius: 14px;
            border: 3px solid var(--sl-color-accent);
        }
        
        ::-webkit-scrollbar-thumb:hover {
            background-color: var(--tertiary);
        }
    </style>
</head>
<body>
    <section class="w-full bg-[var(--sl-color-black)] font-krypton text-[var(--sl-color-accent)] overflow-hidden ">
        <Navbar />
        <Hero />
        <Footer />
    </section>
</body>
</html>


