---
import ArrowRight from "@/icons/ArrowRight.astro";
---

<section
  class="bg-[#1f2021] text-[#E9EAE2] flex flex-col gap-12 font-krypton p-4 text-[12px] md:text-[16px]"
>
  <div
    class="w-full flex flex-col gap-12  justify-between items-start"
  >
    <h1
      class="w-full text-[24px] md:text-[48px] font-kryton leading-none text-center "
    >
      bi0s Pentest Recruitment
    </h1>
    <!-- <div class="w-full text-center">
      <h2
        class="text-[16px] md:text-[18px] font-semibold text-center "
      >
        India's No.1 Ranked CTF Team & Cyber Security Research Club
      </h2>
      <p class="opacity-50 leading-tight">
        We are a team of college students from Amrita university, passionate
        about cyber security, and dedicated to protect tomorrow's cyberspace.
      </p>
    </div> -->
  </div>
  <div class="w-full flex gap-12 flex-col text-accent">
    <h1
      class="w-full font-krypton opacity-75 text-[16px] md:text-[32px] text-center "
    >
      You could be one of us
    </h1>
    <div class="w-full text-center ">
      <p>
        Phase 1 tasks are your chance to demonstrate your skills and potential. Conquer these challenges to show us you're ready to take the next step.
      </p>
      <!-- <span class="opacity-50 text-[10px] md:text-[14px]"
        >Note: This Recruitment drive is only for upcoming freshers and
        sophomores (Sem 3) in the Bengaluru campus ('24-'28 batch). We are not
        recruiting Third Years (Sem 5) students but you can still play the CTF
        tho.
      </span> -->
    </div>
  </div>
  <a href="/getting-started" class="w-[50%] m-auto justify-center items-center flex gap-4">
  <button
    class="w-full flex justify-center py-4 px-2 bg-accent text-[#1f2021]"
    >
      Get Started <ArrowRight /></button
  >
  </a
    >
  <div class="w-full flex flex-col gap-12 text-[#E9EAE2]">
    <h3 class="w-full font-technos text-center text-[16px] lg:text-[32px]">
      What we do
    </h3>
    <p class="text-justify opacity-75">
      Team bi0s primarily participate in Capture The Flag (CTF) competitions &
      have been consistently ranked the number one team in India since 2016
      according to CTFtime. Our members have found several
      security issues in a variety of software such as Virtualization Software,
      Content Management Systems, Q&A Forums, Operating Systems, etc. Driven by the vision to make security
      education easily accessible in India, members of our team go around places
      such as Schools, Universities, and Industries to deliver security
      trainings and workshops ranging from very basic topics to cutting edge
      security research. We also host monthly cybersecurity meetups check that out <span class="text-accent underline"><a href="https://bi0smeetup.in">here</a></span>
    </p>
  </div>
</section>
