<section class="w-full h-[64px] flex justify-between items-center text-[12px] md:text-[16px] p-4">
    <div class="w-[32px] h-[32px] rounded-sm">
        <img src="/logo.svg" alt="">
    </div>
    <div class="w-auto flex gap-4">
        <a class="underline" href="/getting-started">Get Started</a>
        <a class="underline" href="https://www.bi0s.in">About</a>
        <a class="underline" href="http://wiki.bi0s.in">Wiki</a>
    </div>
</section>